{% extends '::base.html.twig' %}

{% block body %}
    {% dump %}

    <div>
        <h4>{{ 'language'|trans|raw }}:</h4>
        <a href="http://localhost/symfony2/web/app_dev.php/en/sphere">
            <button type="button" class="btn btn-primary">
                en</button></a>
        <a href="http://localhost/symfony2/web/app_dev.php/ru/sphere">
            <button type="button" class="btn btn-primary">
                ru</button></a>
    </div>

<center>

    <font color="#ff8c00" xmlns="http://www.w3.org/1999/html">

        <h1> {{ 'Sphere of Fate'|trans|raw }} </h1>

    </font>

    <form action="#" method="post" {{ form_enctype(form) }}>

        <div class="border-r">
            {{ form_label(form.data, 'Enter your question') }}<br>
            {{ form_widget(form.data)}}
        </div>
        <div>
        <br>
            {{ form_widget(form.save) }}
        {{ form_rest(form) }}
        </div>

    </form>
</center>

{% endblock %}